{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}

{% if breadcrumb %}
    <div id="breadcrumbs">
        <div class="breadcrumb">
            {% for item in breadcrumb %}
                    {% if item.url %}
                        <a href="{{ item.url }}">{{ item.text }}</a>
                    {% else %}
                        {{ item.text }}
                    {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}